[Unit]
Description=AetherOS Live Environment Setup Service
Before=sddm.service systemd-user-sessions.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/live-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
