[Desktop Entry]
Type=Application
Version=1.0
Name=Install AetherOS
GenericName=System Installer
Comment=Install AetherOS to your hard drive or SSD
Exec=pkexec calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=System;
Keywords=installer;arch;calamares;setup;
